* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #0c0d0e;
}

/* Cabeçalho */

header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-around;
}

#search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#search-input {
  background-color: #464749;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #ddd;
  width: 400px;
}

#search-input::placeholder {
  color: #ddd;
}

#export-notes {
  background-color: #333;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.7s;
}

#export-notes:hover {
  color: #333;
  background-color: #fff;
}
